<% if f.object.errors.any? %>
  <%= error_messages_for (f.object) %>
<% end %>

<table class="subject_form_fields">
  <tr>
    <th>Subject Name</th>
    <td><%= f.text_field (:name) %></td>
  </tr>
  <tr>
    <th>Position-Integer</th>
    <td><%= f.text_field (:position) %></td>
  </tr>
  <tr>
    <th>Visible-Boolean</th>
    <td><%= f.text_field (:visible) %></td>
  </tr>
</table><br/>
