<% if object && object.errors.size > 0 %>
<div class="error-handling">
  <h2><%= pluralize(object.errors.size, "error") %>)prohibited this record for being saved</h2>
  <p> Errors encountered </p>
  <ul>
    <% object.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>