<div id="<%= dom_id project_page %>">
  <p>
    <h4><%= project_page.title %></h4>
  </p>

  <p>
    <strong>Description:</strong>
    <%= project_page.description %>
  </p>

  <p>
    <%= project_page.project_content %>
  </p>

</div>
