<h1>Editing project page</h1>

<%= render "form", project_page: @project_page %>

<br>

<div>
  <%= link_to "Show this project page", @project_page %> |
  <%= link_to "Back to project pages", project_pages_path %>
</div>
