<h2> About Us </h2>

<p>Founded in 2010, Beryl Systems serves as bridge between business needs and the world of affordable high quality IT solutions. Beryl Systems emerged as a leading IT Infrastructure and Information Solution Provider in the last 10 years catering clients all over the globe. At Beryl Systems we have friendly, open and dynamic environment that constantly fosters innovation and latest technology. We provide an excellent and rewarding working environment for our staff with a strong knowledge base. Our team of young visionaries ensures to deliver high quality services to the clients. We believe in challenges, commitment and results. Delivering precise solutions to the customers is our motive.</p>

<p><%= link_to("Contact Us", {:controller => 'demo', :action => 'contact', :country => 'uk'}) %></p>


