<h2>Contact us</h2>

<h4>Our Locations</h4>
<p>
  USA
  9901 Brodie Lane
  Ste 160 #1142
  Austin, TX 78748
  <h4>Phone Number: <%= @phone_number %></h4>
</p>

<p>
  INDIA
  SCF-8, Sector-11, Block D,
  Second Floor, Faridabad, Haryana,
  121006
</p>

<%= link_to("About Us", {:controller => 'demo', :action =>'about'}) %>

