<p> Demo Index page is set as root page by default </p>

<h2>Be stick to goal and Don't give up</h2>


<!--- For Url Testing

  <%#= link_to 'Book Chapters', book_chapter_path(@book, @chapter) %><br>

  <%#= link_to 'Book Chapters', url_for([@book, @chapter]) %><br>

  <%#= link_to 'Book Chapters', [@book, @chapter] %><br> 

--->






